/* src/components/Projects.css */
.projects{
     padding-left: 700px;
     padding-top: 150px;   
}
.image{
        display: flex;
        gap: 40px;
        border: 1px;
        width: 300px;
        height: 400px;
        padding-left: 300px;
}